@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* html,body{

} */

.auth-body {
     display: grid;
     height: 100vh;
     width: 100%;
     place-items: center;
     /* background: -webkit-linear-gradient(left, #003366,#004080,#0059b3 */
     background: -webkit-linear-gradient(top, #424242,#292929,#131313)
     /* background: #252323; */
     /* background: rgba(0, 0, 0, 0.9); */
}
::selection{
  background: #1a75ff;
  color: #fff;
}
.wrapper{
  overflow: hidden;
  max-width: 500px;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  /* box-shadow: 0px 15px 20px rgba(0,0,0,0.1); */
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.1);
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 15px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  /* background: -webkit-linear-gradient(left,#003366,#004080,#0059b3, #0073e6); */
  /* background: rgba(0, 0, 0, 0.9); */
  background: -webkit-linear-gradient(right, #393939,#292929,#131313);
  
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#login:checked ~ .slider-tab {
     left: 0;
   }
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus{
  /* border-color: #1a75ff; */
  border-color: rgba(0, 0, 0, 0.9);
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
/* .form-inner form .field input:hover{
  background-color: #FFC000;
} */
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  /* color: #1a75ff; */
  color: rgba(0, 0, 0, 0.6);
}
.form-inner form .pass-link{
  margin-top: 5px;
  font-size: 13px;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
  color: #2a2a2a;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  /* color: #1a75ff; */
  color: #000;
  font-weight: 500;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btns{
  height: 50px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
form .btns .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  /* background: -webkit-linear-gradient(right,#003366,#004080,#0059b3, #0073e6); */
  background: -webkit-linear-gradient(right, #393939,#292929,#131313);
  border-radius: 15px;
  transition: all 0.4s ease;;
}
form .btns:hover .btn-layer{
  left: 0;
}
form .btns input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.smallFont{
     font-size: 15px;
     font-weight: 200;
     margin-top: 5px;
}

/* HEADER SECTION */

.bookNow {
  background: -webkit-linear-gradient(right,#003366,#004080,#0059b3
  , #0073e6);

}

.bookNow {
  position: relative; /* Necessary for pseudo-elements */
  display: inline-block;
  padding: 10px 20px;
  background-color: #333; /* Base color of the button */
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  overflow: hidden; /* To ensure pseudo-elements don't go beyond boundaries */
  transition: background-color 0.3s ease;
}

.bookNow::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 200%; /* Make it wide enough to create a diagonal effect */
  background: linear-gradient(120deg, transparent 10%, white 10%, transparent 80%); /* Gradient for the shine */
  transition: all 0.5s ease; /* Control the speed and ease of the animation */
}

.bookNow:hover::before {
  left: 100%; /* Move from left to right on hover */
}

.links-color {
  color: #FFC000 !important;
}

.links-color:hover {
  color: #facb3d !important;
}

/* 
.bookNow {
  background: -webkit-linear-gradient(right,#003366,#004080,#0059b3
  , #0073e6);
  transition: transform 0.3s;

}
.bookNow:hover {
    transform: translateX(10px);
} */


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  max-width: 500px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 1.5em;
}
