.hero-question {
     letter-spacing: 3px;
     text-transform: uppercase;
     color: #ffcc00;
}


.hero-text {
     font-size: 75px;
     /* width: 50%; */
     /* line-height: 30px; */
}

@media (max-width: 1500px) {

     .hero-text {
          font-size: 60px;
     }
}


@media (max-width: 1300px) {

     .hero-text {
          font-size: 50px;
     }
}