.cont-navLogged{
     margin: 80px 120px;
     z-index: 999;
     transition: margin 0.2s;
     overflow: hidden;
}

header {
    background-color: #fff;
}

.fixed-nav {
     position: fixed; /* Fixes the navbar at the top */
     top: 0; /* Aligns to the top of the screen */
     left: 0; /* Aligns to the left of the screen */
     right: 0; /* Aligns to the right of the screen */
     z-index: 999; /* Ensures it's above other content */
     margin: 0 ; /* Reset margin to make it stick at the top */
     width: 100%;
   }

   .header .logos {
     background: #FFC000;
     align-items: center;
     text-align: center;
     top: -15px;
     position: absolute;
     left: 0;
     z-index: 999;
   }

   .logos-nav {
     background: #FFC000;
     align-items: center;
     text-align: center;
     top: -15px;
     /* position: absolute; */
     left: 0;
     z-index: 999;
   }
   
   .header .logos a {
     color: #fff;
     text-align: center;
     width: 100%;
   }

.nav-logged-li {
     color: #141b22;
     position: relative;
     padding: 12px 0;
     border-radius: 0.5rem;
     font-size: 20px;
     text-transform: uppercase;
     font-weight: 700;
     letter-spacing: 1.5px;
     margin-left: 20px;
     /* font-family: "Poppins", sans-serif; */
} 



.nav-logged-li:hover, li:hover,  .drop-li:hover {
     color: #FFC000 !important;
}


@media (max-width: 1000px){
     /* .nav-logged-li, .login-btn {
       
          display: none;
     } */

     /* .logos {
display: block;
     } */
}