<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>

<body>
    <div class="" style=" text-align: center; background-color: #cdcccc; margin: auto; max-width: 500px; height: 75vh; padding: 20px; border-radius: 10px; margin-top: 3%;" >
     <h1><b>Hello {{firstName}} 👋,</b></h1>
     <p>Verify your email by clicking the button below,<br>
          Then log in using your email and password you set</p>
     <p style='display: inline-block; padding: 10px 20px; background-color: #007bff; color: #ffffff; text-decoration: none; border-radius: 5px;'> {{otp}}</p>
     <p>This link will remain valid for 1 day. If you have not verified your email address by then, you will have to
          create another account.</p>

    </div>
</body>

</html>